<div class="flex flex-col w-full w-11/12 mx-auto">
  <h1 class="font-bold text-[15em]">Bold</h1>
  <div class="grid grid-cols-2">
    <h1 class="font-bold text-[15em]">Shorts</h1>
  </div>
  <div class="flex items-center gap-4">
    <%= link_to "Sign in", new_user_session_path, class: "bg-purple-500 text-purple-50 rounded-lg shadow-md p-2" %>
    <%= link_to "Create account", new_user_registration_path, class: "text-gray-300" %>
  </div>
</div>
